<div class="navbar header">
    <div class="navbar-inner standard-pages">
      <div class="center">
          <img src="img/cric-it_header-logo.png"/>
        </div>
        <div class="left">
            <a href="#" class="link icon-only"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="add-tournament" class="page">
        <div class="page-content standard-page">
            <div class="content-block">
              <h1>Create a tournament</h1>
              <form id="AddTournament">
                <div class="Match-Settings">
                  <div class="content-block-title">Tournament Name?</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-input">
                              <input id="Name" name="Name" type="text" placeholder="Your Tournament Name" data-required="Please fill in your Tournament's name" required />
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div> 
                  <div class="content-block-title">Format?</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-input">
                              <select name="Format">
                                  <option value="League">League</option>
                                  <option value="League Knockout">League Knockout</option>
                                  <option value="Knockout">Knockout</option>
                                  <option value="Group Knockout">Group Knockout</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content-block-title">Overs per innings</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label range-label OvrInnings">25</div>
                              <div class="item-input">
                                  <div class="range-slider">
                                      <input type="range" id="OvrInnings" name="OvrInnings" min="10" max="50" step="5" value="25">
                                  </div>
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div> 
                  <div class="content-block-title">Overs per bowler</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label range-label OvrBowler">5</div>
                              <div class="item-input">
                                  <div class="range-slider">
                                      <input type="range" id="OvrBowler" name="OvrBowler" min="1" max="50" step="1" value="5">
                                  </div>
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div> 
                  <div class="content-block-title">Legal deliveries per over</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label range-label LglDeliveries">3</div>
                              <div class="item-input">
                                  <div class="range-slider">
                                      <input type="range" id="LglDeliveries" name="LglDeliveries" min="3" max="15" step="1" value="3">
                                  </div>
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>  
                  <div class="content-block-title">Set total ball limit</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label range-label BallLimit">No Limit</div>
                              <div class="item-input">
                                  <div class="range-slider">
                                      <input type="range" id="BallLimit" name="BallLimit" min="0" max="30" step="1" value="0">
                                  </div>
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content-block-title">Team starts with runs</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label range-label StartRuns">0</div>
                              <div class="item-input">
                                  <div class="range-slider">
                                      <input type="range" id="StartRuns" name="StartRuns" min="0" max="300" step="10" value="0">
                                  </div>
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>   
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-title label range-label">Wide is legal</div>
                            <div class="item-input">
                              <label class="label-switch">
                                <input name="WideLegal" id="WideLegal" type="checkbox" value="1">
                                <div class="checkbox"></div>
                              </label>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content-block-title">Runs per wide</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label range-label RunsWide">0</div>
                              <div class="item-input">
                                  <div class="range-slider">
                                      <input type="range" id="RunsWide" name="RunsWide" min="0" max="15" step="1" value="0">
                                  </div>
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>  
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-title label range-label">NB is legal</div>
                            <div class="item-input">
                              <label class="label-switch">
                                <input name="NBLegal" id="NBLegal" type="checkbox" value="1">
                                <div class="checkbox"></div>
                              </label>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content-block-title">Runs per NB</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label range-label RunsNB">0</div>
                              <div class="item-input">
                                  <div class="range-slider">
                                      <input type="range" id="RunsNB" name="RunsNB" min="0" max="15" step="1" value="0">
                                  </div>
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div> 

                  <div class="content-block-title">Start Date?</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-input">
                                  <input name="StartDate" type="text" placeholder="Please select a start date and time" readonly id="picker-startdate">
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div> 
                  <div id="picker-startdate-container"></div>

                  <div class="content-block-title">End Date?</div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                              <div class="item-input">
                                  <input name="EndDate" type="text" placeholder="Please select a start date and time" readonly id="picker-enddate">
                              </div> 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div> 
                  <div id="picker-enddate-container"></div>


                  
                  <button class="btn-primary btn-submit">Create Tournament</button>
                </div>
              </form>
            </div>

        </div>
        <div class="toolbar tabbar tabbar-labels">
          <div class="toolbar-inner">
              <a href="#tab2" class="tab-link">
                  <i class="icon demo-icon-2">
                      <span class="badge bg-red">5</span>
                  </i>
                  <img src="img/icons/menu_tournament.png"/>
                  <span class="tabbar-label">Tournaments</span>
              </a>
              <a href="#tab3" class="tab-link">
                  <img src="img/icons/menu_trophee.png"/>
                  <span class="tabbar-label">Trophees</span>
              </a>
              <a href="#tab4" class="tab-link">
                  <img src="img/icons/menu_score.png"/>
                  <span class="tabbar-label">Leaderboard</span>
              </a>
          </div>
      </div>
    </div>
</div>