<div class="navbar header">
    <div class="navbar-inner standard-pages">
      <div class="center">
          <img src="img/cric-it_header-logo.png"/>
        </div>
        <div class="left">
            <a href="#" class="link icon-only"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="add-team" class="page">
        <div class="page-content standard-page">
            <div class="content-block">
              <h1>Add a Team</h1>
              <form id="AddTeam">
                <div class="content-block-title">
                  Enter you team name
                </div>
                <div class="list-block">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-input">
                            <input id="Name" name="Name" type="text" placeholder="Your Team Name" data-required="Please fill in your Team's name" required />
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>   
                <div class="content-block-title">
                  Where are you located?
                </div>
                <div class="list-block">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-input">
                            <select name="Location">
                              <option value="" selected>Select a location</option>
                              <optgroup label="Regional">
                                <option value="Border">Border</option>
                                <option value="Eastern">Eastern</option>
                                <option value="Kei">Kei</option>
                                <option value="Kwazulu Natal Sub Unions">Kwazulu Natal Sub Unions</option>
                                <option value="Limpopo Impala">Limpopo Impala</option>
                                <option value="Northerns">Northerns</option>
                              </optgroup>
                              <optgroup label="Provincial">
                                <option value="Eastern Cape">Eastern Cape</option>
                                <option value="Free State">Free State</option>
                                <option value="Gauteng">Gauteng</option>
                                <option value="Kwazulu Natal">Kwazulu Natal</option>
                                <option value="Limpopo">Limpopo</option>
                                <option value="Mpumalanga">Mpumalanga</option>
                                <option value="Northern Cape">Northern Cape</option>
                                <option value="North West">North West</option>
                                <option value="Western Cape">Western Cape</option>
                              </optgroup>
                            </select>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="content-block-title">
                  Game Format?
                </div>
                <div class="list-block">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-input">
                            <select name="Format">
                              <option value="" selected>Select a format</option>
                              <option value="Club">Club Cricket</option>
                              <option value="School">School Cricket</option>
                              <option value="Social">Social Cricket</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="content-block-title">
                  The Coach's Name
                </div>
                <div class="list-block">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-input">
                            <input id="Coach" name="Coach" type="text" placeholder="Your Coach's Name" data-required="Please fill in your Coach's name" required />
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>  
                <button class="btn-primary">Continue</button>
              </form>
            </div>

        </div>
        <div class="toolbar tabbar tabbar-labels">
          <div class="toolbar-inner">
              <a href="#tab2" class="tab-link">
                  <i class="icon demo-icon-2">
                      <span class="badge bg-red">5</span>
                  </i>
                  <img src="img/icons/menu_tournament.png"/>
                  <span class="tabbar-label">Tournaments</span>
              </a>
              <a href="#tab3" class="tab-link">
                  <img src="img/icons/menu_trophee.png"/>
                  <span class="tabbar-label">Trophees</span>
              </a>
              <a href="#tab4" class="tab-link">
                  <img src="img/icons/menu_score.png"/>
                  <span class="tabbar-label">Leaderboard</span>
              </a>
          </div>
      </div>
    </div>
</div>