<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="home.html" class="link"><img src="img/logo.png"/></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="contact-us" class="page">
        <div class="page-content">
            <div class="content-block">
              <h1>Contact Us</h1>
              <p>
                <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> &nbsp; <a href="#" class="external open-in-maps-link-populate">16 Langford Road, Westville, 3629</a>
              </p>
              <p>
                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> &nbsp; <a href="#" class="external open-in-maps-link-populate">PO Box 1905, Westville, 3630</a>
              </p>
              <p>
                <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> &nbsp; <a href="#" class="external open-in-maps-link-populate">info@bdelaw.co.za</a>
              </p>
              <p>
                <i class="fa fa-phone fa-fw" aria-hidden="true"></i> &nbsp; <a href="tel:0312670430" class="external">+27(31) 267-0430</a>
              </p>
              <p>
                <i class="fa fa-fax fa-fw" aria-hidden="true"></i> &nbsp; <a href="tel:0312670430" class="external">+27(86) 677-9824</a>
              </p>
              <div class="social-sharing">
                <a href="https://www.facebook.com/bdelaw/?fref=ts" class="external" target="_blank"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
                <a href="https://twitter.com/BDEattorneys" class="external" target="_blank"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/bde-attorneys" class="external" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UC6OpjjgQF2ga6Ogor_N4HGg" class="external" target="_blank"><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a>     
                <a href="" class="whatsappshare" target="_blank"><i class="fa fa-2x fa-share-alt" aria-hidden="true"></i></a>       
              </div>
            </div>
        </div>
    </div>
</div>
