<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="home.html" class="link"><img src="img/logo.png"/></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="conveyancing-calculator" class="page">
        <div class="page-content">
            <div class="content-block">
                <h1>Conveyancing Calculator</h1>
                <p>Please select the calculator you require.</p>
                <div class="home-link-wrapper">
                    <a href="conveyancing-calc-transfer.html" class="home-link">
                        <img src="img/icons/transfer-calc.jpg"/>
                    </a>
                </div>
                <div class="home-link-wrapper">
                    <a href="conveyancing-calc-bond.html" class="home-link">
                        <img src="img/icons/bond-calc.jpg"/>
                    </a>
                </div>
                <div class="home-link-wrapper">
                    <a href="conveyancing-calc-repayment.html" class="home-link">
                        <img src="img/icons/repayment-calc.jpg"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
