<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="home" class="page no-swipeback toolbar-fixed">
        <div class="page-content">
            <div class="content-block extend-it">
                <div class="user-details">
                    <div class="logo">
                        <img src="img/cric-it_front-logo.png"/>
                    </div>
                    <div class="home-link-wrapper">
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_user.png"/>
                            Users
                        </a>
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_tournament.png"/>
                            Tournaments
                        </a>
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_clubhouse.png"/>
                            Clubhouse
                        </a>
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_helmet.png"/>
                            Players
                        </a>
                    </div>
                    <div class="home-link-wrapper">
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_umpire.png"/>
                            Umpire
                        </a>
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_score.png"/>
                            Scoring
                        </a>
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_trophee.png"/>
                            Trophees
                        </a>
                        <a href="schedule-a-consult.html" class="home-link">
                            <img src="img/icons/home_settings.png"/>
                            Settings
                        </a>
                    </div>
                    
                    <div class="home-link-wrapper">
                        <div class="content-block-title">Share this app with your friends:</div>
                            <div class="list-block">
                                <a href="https://www.facebook.com/bdelaw/?fref=ts" class="external" target="_blank"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/BDEattorneys" class="external" target="_blank"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/bde-attorneys" class="external" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
                                <a href="https://www.youtube.com/channel/UC6OpjjgQF2ga6Ogor_N4HGg" class="external" target="_blank"><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a>     
                                <a href="" class="whatsappshare" target="_blank"><i class="fa fa-2x fa-share-alt" aria-hidden="true"></i></a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar tabbar tabbar-labels">
                <div class="toolbar-inner">
                    <a href="#tab2" class="tab-link">
                        <i class="icon demo-icon-2">
                            <span class="badge bg-red">5</span>
                        </i>
                        <img src="img/icons/menu_tournament.png"/>
                        <span class="tabbar-label">Tournaments</span>
                    </a>
                    <a href="#tab3" class="tab-link">
                        <img src="img/icons/menu_trophee.png"/>
                        <span class="tabbar-label">Trophees</span>
                    </a>
                    <a href="#tab4" class="tab-link">
                        <img src="img/icons/menu_score.png"/>
                        <span class="tabbar-label">Leaderboard</span>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>