<div class="pages navbar-through toolbar-through">
    <div data-page="passwordreset" class="page no-navbar no-toolbar no-swipeback">
        <div class="page-content">
            <div class="content-block extend-it">
                <div class="user-details register">
                    <div class="logo">
                        <img src="img/cric-it_front-logo.png"/>
                    </div>
                    <div class="form">
                        <h2>Forgotten Password</h2>
                        <p>Fill in your email address to reset your password.</p>
                        <form id="UserForgotten" class="store-data">
                            <div class="form-element">
                                <input id="Email" name="Email" type="email" placeholder="Email Address" data-required="Please fill in your email" required />
                            </div>
                            <button class="btn-primary round">
                                <i class="fa fa-bell fa-fw" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <a href="register.html" class="register btn-block">
                        Don't have an account? <strong>Sign Up</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>