<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="home.html" class="link"><img src="img/logo.png"/></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="schedule-a-consult" class="page">
        <div class="page-content">
            <div class="content-block">
                <h1>Schedule a Consult</h1>
                <p>Please make sure your details below are correct then select a date which you would like to schedule a consult. We will confirm your consult date and time.</p>
                <form id="ScheduleConsultDetail" class="store-data">
                    <div class="content-block-title">Your name and surname</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="FullName" name="FullName" type="text" placeholder="Full Name" data-required="Please fill in your name" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <div class="content-block-title">Your email address</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="Email" name="Email" type="email" placeholder="Email Address" data-required="Please fill in your email" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <div class="content-block-title">Your cellphone number</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="Tel" name="Tel" type="tel" placeholder="Full Name" data-required="Please fill in your cellphone number" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <div class="content-block-title">Select your preferred date and time</div>
                    <div class="content-block">
                     <div class="content-block-inner">
                       <div class="list-block">
                         <ul>
                           <li>
                             <div class="item-content">
                               <div class="item-inner">
                                 <div class="item-input">
                                   <input name="ScheduleDate" type="text" placeholder="Please select a date and time" readonly id="picker-date">
                                 </div>
                               </div>
                             </div>
                           </li>
                         </ul>
                       </div>
                       <div id="picker-date-container"></div>
                     </div>
                    </div>
                    <div class="content-block-title">Select the attorney you would like to see</div>
                    <div class="content-block">
                     <div class="content-block-inner">
                       <div class="list-block">
                         <ul>
                           <li>
                             <div class="item-content">
                               <div class="item-inner">
                                 <div class="item-input">
                                  <select name="WhichAttorney">
                                    <option value="" selected>Select an attorney</option>
                                  </select>
                                 </div>
                               </div>
                             </div>
                           </li>
                         </ul>
                       </div>
                       <div id="picker-date-container"></div>
                     </div>
                    </div>
                    <div class="content-block-title">Reason for consult</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="ConsultReason" name="ConsultReason" type="text" placeholder="Reason" data-required="Please fill in your reason" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
