<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="home.html" class="link"><img src="img/logo.png"/></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="ask-a-legal-question" class="page">
        <div class="page-content">
            <div class="content-block">
                <h1>Ask a Legal Question</h1>
                <p>Ask your question below and we will get the answer to you asap.</p>
                <form id="AskQuestion">
                    <div class="content-block-title">What is your legal question?</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <textarea id="Question" name="Question" placeholder="Type your question here" data-required="Please fill in your question" required></textarea>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
