<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="home.html" class="link"><img src="img/logo.png"/></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="conveyancing-calc-transfer" class="page">
        <div class="page-content">
            <div class="content-block">
                <h1>Transfer Cost Calculator</h1>
                <p>Calculate your approximate transfer costs together with estimated registration fees and transfer duty</p>
                <form id="Calculate">
                    <div class="content-block-title">Purchase Price</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">R</div>
                                <div class="item-input">
                                    <input id="Amount" name="Amount" type="tel" placeholder="Purchase Price" data-required="Please fill in your purchase price" required />
                                    <input id="Type" name="Type" type="text" value="transfer" />
                                </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>  
                    <button>Calculate</button>
                </form>
                <p><small>Enter the value as required and click the 'Calculate' button.<br/>
                The costs of transferring ownership of property into your name comprise costs due to the government in the form of transfer duty, legal costs as well as a number of payments the attorneys have to make to obtain clearances.<br/>
                Please note that all values returned by the Transfer cost calculator are quotation values subject to change.<br/>
                Although every effort has been made to ensure the accuracy of the content, BDE Attorneys accepts no liability in respect of any errors contained herein. Under no circumstances will BDE Attorneys be liable for any loss of damages whatsoever arising from the use of this calculator.</small></p>
            </div>
        </div>
    </div>
</div>
