<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="home.html" class="link"><img src="img/logo.png"/></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="emergency" class="page">
        <div class="page-content">
            <div class="content-block">
                <h1>Emergency Legal Support</h1>
                <p>Your contact details have been passed through to the relevant staff at BDE Attorneys.</p>
                <p>One of our directors will contact you as soon as possible.</p>
            </div>
        </div>
    </div>
</div>
