<div class="navbar header">
    <div class="navbar-inner">
        <div class="left">
            <a href="home.html" class="link"><img src="img/logo.png"/></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="find-an-attorney" class="page">
        <div class="page-content">
            <div class="content-block" id="find-attorney-list">
                <h1>Find an Attorney</h1>
                <p>Not in our area? Send us your location and we will send you a list of affiliated attorneys in your area.</p>
                <form id="FindAttorney" class="store-data">
                    <div class="content-block-title">Your name and surname</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="FullName" name="FullName" type="text" placeholder="Full Name" data-required="Please fill in your name" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <div class="content-block-title">Your email address</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="Email" name="Email" type="email" placeholder="Email Address" data-required="Please fill in your email" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <div class="content-block-title">Your cellphone number</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="Tel" name="Tel" type="tel" placeholder="Full Name" data-required="Please fill in your cellphone number" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <div class="content-block-title">Your Location</div>
                    <div class="list-block">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-input">
                                <input id="Location" name="Location" type="text" placeholder="Your Location" data-required="Please fill in your location" required />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
