<div class="pages navbar-through toolbar-through">
    <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
        <div class="page-content">
            <div class="content-block extend-it">
                <div class="user-details register">
                    <div class="logo">
                        <img src="img/cric-it_front-logo.png"/>
                    </div>
                    <div class="form">
                        <h2>Sign In</h2>
                        <p>Please sign in with your credentials:</p>
                        <form id="UserSignIn" class="store-data">
                            <div class="form-element">
                                <input id="Email" name="Email" type="email" placeholder="Email Address" data-required="Please fill in your email" required />
                            </div>
                            <div class="form-element">
                                <input id="Password" name="Password" type="password" placeholder="Password" data-required="Please fill in your passsword" required /><i class="fa fa-eye showpassword" aria-hidden="true"></i>
                            </div>
                            <button class="btn-primary round">
                                <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                            </button>
                        </form>
                        <p><a href="forgotten.html">Forgotten your password?</a></p>
                    </div>
                </div>
                <div class="register-button">
                    <a href="register.html" class="btn-block">
                        Don't have an account? <strong>Sign Up</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>