<div class="pages navbar-through toolbar-through">
    <div data-page="register" class="page no-navbar no-toolbar no-swipeback">
        <div class="page-content">
            <div class="content-block extend-it">
                <div class="user-details register">
                    <div class="logo">
                        <img src="img/cric-it_front-logo.png"/>
                    </div>
                    <div class="form">
                        <h2>Register Account</h2>
                        <form id="UserRegister" class="store-data">
                            <div class="form-element">
                                <input id="FirstName" name="FirstName" type="text" placeholder="First Name" data-required="Please fill in your name" required />
                            </div>
                            <div class="form-element">
                                <input id="LastName" name="LastName" type="text" placeholder="Last Name" data-required="Please fill in your surname" required />
                            </div>
                            <div class="form-element">
                                <input id="Email" name="EmailRegister" type="email" placeholder="Email Address" data-required="Please fill in your email" required />
                            </div>
                            <div class="form-element">
                                <input id="PasswordRegister" name="PasswordRegister" type="password" placeholder="Password" data-required="Please fill in your password" required /><i class="fa fa-eye showpassword" aria-hidden="true"></i>
                            </div>
                            <button class="btn-primary round">
                                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="register-button">
            <a href="login.html" class="btn-block">
                Already have an account? <strong>Sign In</strong>
            </a>
        </div>
    </div>
</div>