<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="home.html" class="smart-select-close">Close</a></div>
        <div class="center sliding">Select your format</div>
        <div class="right"></div>
    </div>
</div>
<div class="pages navbar-through toolbar-through">
    <div data-page="select-teams" class="page no-navbar no-toolbar no-swipeback">
        <div class="list-block">
          <ul>
            <li>
              <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search fruits" data-navbar-theme="red" data-form-theme="green">
                <select name="clubs">
                  <option value="105" selected data-option-image="http://lorempixel.com/29/29/" selected data-display-as="Wanderers">Wanderers</option>
                  <option value="200" data-option-image="http://lorempixel.com/29/29/?3">Pineapple</option>
                </select>

                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">Club</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>