<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="home.html" class="smart-select-close">Close</a></div>
        <div class="center sliding">Select your Province</div>
        <div class="right"></div>
    </div>
</div>
<div class="pages navbar-through toolbar-through">
    <div id="social-cricket" data-page="social-cricket" class="page no-toolbar no-swipeback"></div>
</div>