<div class="navbar header">
    <div class="navbar-inner standard-pages">
      <div class="center">
          <img src="img/cric-it_header-logo.png"/>
        </div>
        <div class="left">
            <a href="#" class="link icon-only"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="view-matches" class="page">
        <div class="page-content standard-page">
            <div class="content-block">
              <h1>View a Matches</h1>
            </div>
        </div>
        <div class="toolbar tabbar tabbar-labels">
          <div class="toolbar-inner">
              <a href="#tab2" class="tab-link">
                  <i class="icon demo-icon-2">
                      <span class="badge bg-red">5</span>
                  </i>
                  <img src="img/icons/menu_tournament.png"/>
                  <span class="tabbar-label">Tournaments</span>
              </a>
              <a href="#tab3" class="tab-link">
                  <img src="img/icons/menu_trophee.png"/>
                  <span class="tabbar-label">Trophees</span>
              </a>
              <a href="#tab4" class="tab-link">
                  <img src="img/icons/menu_score.png"/>
                  <span class="tabbar-label">Leaderboard</span>
              </a>
          </div>
      </div>
    </div>
</div>