<div class="navbar header">
    <div class="navbar-inner standard-pages">
      <div class="center">
          <img src="img/cric-it_header-logo.png"/>
        </div>
        <div class="left">
            <a href="#" class="link icon-only"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="view-match" class="page navbar-fixed toolbar-fixed">
        <div id="team-history" class="content-block extend-it">
            <div class="page-content standard-page">
                <div class="tab">
                    <div class="content-block">
                        <div class="team-history">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        
                                        <div class="batsmen">
                                            <h3>Team 1 <div class="pull-right">Batsmen</div></h3>
                                            <div class="batsman-1 active-batsmen">
                                                <img src="img/empty-profile.jpg"/>
                                                <p>Name Surname</p>
                                                <div class="scores">
                                                    <span>20</span> (16)
                                                </div>
                                            </div>
                                            <div class="partnership">
                                                <p><span>140</span></p>
                                                <p>(32)</p>
                                            </div>
                                            <div class="batsman-2">
                                                <img src="img/empty-profile.jpg"/>
                                                <p>Name Surname</p>
                                                <div class="scores">
                                                    <span>20</span> (16)
                                                </div>
                                            </div>
                                            <div class="actions">
                                                <div class="runs bg-green">Runs</div>
                                                <div class="extra bg-yellow">Extra</div>
                                                <div class="wicket bg-red">Wicket</div>
                                            </div>
                                        </div>
                                        <div class="bowlers">
                                            <h3>Team 2 <div class="pull-right">Bowlers</div></h3>
                                            <table>
                                                <thead>
                                                  <tr>
                                                    <th class="label-cell">Bowlers</th>
                                                    <th class="numeric-cell">O</th>
                                                    <th class="numeric-cell">M</th>
                                                    <th class="numeric-cell">R</th>
                                                    <th class="numeric-cell">W</th>
                                                    <th class="numeric-cell">NB</th>
                                                    <th class="numeric-cell">WI</th>
                                                    <th class="numeric-cell">OR</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td class="label-cell">Player 1</td>
                                                    <td class="numeric-cell">5</td>
                                                    <td class="numeric-cell">6</td>
                                                    <td class="numeric-cell">7</td>
                                                    <td class="numeric-cell">7</td>
                                                    <td class="numeric-cell">7</td>
                                                    <td class="numeric-cell">7</td>
                                                    <td class="numeric-cell">7</td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                        <div class="buttons">
                                            <a class="btn-primary btn-block">
                                                Add Bowler
                                            </a>
                                            <a class="btn-primary btn-block scorecard">
                                                View Scorecard
                                            </a>
                                        </div>

                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="#tab2" class="tab-link">
                    <i class="icon demo-icon-2">
                        <span class="badge bg-red">5</span>
                    </i>
                    <img src="img/icons/menu_tournament.png"/>
                    <span class="tabbar-label">Tournaments</span>
                </a>
                <a href="#tab3" class="tab-link">
                    <img src="img/icons/menu_trophee.png"/>
                    <span class="tabbar-label">Trophees</span>
                </a>
                <a href="#tab4" class="tab-link">
                    <img src="img/icons/menu_score.png"/>
                    <span class="tabbar-label">Leaderboard</span>
                </a>
            </div>
        </div>
    </div>
</div>