<div class="navbar header">
    <div class="navbar-inner standard-pages">
      <div class="center">
          <img src="img/cric-it_header-logo.png"/>
        </div>
        <div class="left">
            <a href="#" class="link icon-only"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="view-tournament" class="page navbar-fixed toolbar-fixed">
        <div class="page-content standard-page">
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <div id="team-details" class="tab active">
                        <div class="content-block teamdetails">
                            <p class="format"></p>
                            <h1></h1>
                            <p class="location"></p>
                            <div class="logo">
                                <img src="img/empty-team-xl.png" id="tournament-img"/>
                                <div class="upload">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="team-detail"></div>
                        </div>
                    </div>
                    <div id="team-history" class="tab">
                        <div class="content-block">
                            <div class="team-history">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <h1>Team 1 vs Team 2</h1>
                                            <p class="venue">
                                                Centurion
                                            </p>
                                            <p class="date">
                                                10 August 2017
                                            </p>
                                            
                                            <div class="scorecard-detail">
                                                <p>1st Innings</p>
                                                <h3>Team 1</h3>
                                                <div class="scores">
                                                    <div class="score">
                                                        239 - 1
                                                    </div>
                                                    <div class="overs">
                                                        30 Overs
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="scorecard-detail">
                                                <p>2nd Innings</p>
                                                <h3>Team 2</h3>
                                                <div class="scores">
                                                    <div class="score">
                                                        229 - 6
                                                    </div>
                                                    <div class="overs">
                                                        21.5 Overs
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="result">
                                                Team 1 won by 10 runs
                                            </div>
                                            <button class="scorecard btn-primary">View Scorecard</button>
                                        </div>
                                        <div class="swiper-slide"><span>Slide 2</span></div>
                                        <div class="swiper-slide"><span>Slide 3</span></div>
                                        <div class="swiper-slide"><span>Slide 4</span></div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="#team-details" class="tab-link active">
                    <img src="img/icons/menu_players.png"/>
                    <span class="tabbar-label">Teams</span>
                </a>
                <a href="#team-history" class="tab-link">
                    <img src="img/icons/menu_games.png"/>
                    <span class="tabbar-label">Fixtures</span>
                </a>
                <a href="#team-history" class="tab-link">
                    <img src="img/icons/menu_games.png"/>
                    <span class="tabbar-label">Log</span>
                </a>
            </div>
        </div>
    </div>
</div>


