/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
.range-slider input[type="range"]::-webkit-slider-thumb { 
    border: 1px solid silver;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.list-block .item-content {
    min-height: 45px;
}
.range-slider input[type=range]:after {
    background: #b7b8b7;
}
@font-face{
    font-family: 'Bombard';
    src: url('../font/Bombard/Bombard.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face{
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face{
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Light.ttf');
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}
@font-face{
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
body{
    font-family:'Lato', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    color: #212121;
    background-color: #111;
}
p{
    margin: 10px 0;
    padding: 0 15px;
}
h1{
    font-family: 'Bombard';
    font-size: 28px;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0px;
    letter-spacing: 7px; 
}
h2{
    font-family: 'Bombard';
    font-size: 30px;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 15px;
    letter-spacing: 3px; 
}
.user-details h1{
    font-family: 'Bombard';
    font-size: 45px;
    margin: 0px 0;
    padding: 0;
    letter-spacing: 7px; 
}
.user-details p {
    margin: 0px 0;
    font-size: 14px;
    margin-bottom: 20px;
}
.user-details p a {
    color: #fff;
}
.user-details.signin p,
.user-details.register p {
    margin-bottom: 10px;
}
a{
    color: #212121;   
}
#user-teams .list-block{
    margin: 10px 0;
}
.tabbar-team{
    position: fixed;
    bottom: 56px;
    background-color: #fff;
    z-index: 500000017;
}
#user-teams .item-media img{
    max-width: 30px;
    border-radius: 20px;
    background-color: #333;
}
.smart-select-page li.disabled{
    display:none
}
.close.close-panel{
    position: absolute;
    top: 40px;
    right: 15px;
    opacity: 0.4;
    font-size: 20px;
    line-height: 1em;
}

.btn-primary{
    text-align: center;
    background-color: #007aff;
    color: #fff;
    font-size: 14px!important;
    margin-bottom: 15px!important;
    padding: 12px 25px!important;
    text-transform: uppercase!important;
}
.btn-secondary{
    text-align: center;
    background-color: #007aff;
    color: #fff!important;
    font-size: 14px!important;
    margin-bottom: 15px!important;
    padding: 12px 25px!important;
    text-transform: uppercase!important;
} 
.btn-block{
    display: block;
    width: 100%;
    padding: 12px 0!important;
}
.user-details .btn-block{
    width: 90%!important;
    margin-left: 5%!important;
}

#home-banner{
    position: relative;
    overflow: auto;
    height: auto;
}
.content-block.extend-it{
    margin-top: -5px!important;
    min-height: 600px!important;
}
.content-block-inner {
    padding:0;
    margin-right: 0px;
    margin-left: 0px;
    width:auto
}
.content-block-inner .list-block,
.list-block{
    margin:0px;
}
.content-block-inner .list-block ul,
.list-block ul{
    border-top:none;
    background-color: transparent;
}
.list-block .item-divider, .list-block .list-group-title {
    background: transparent;
}
#map{
    height: 100%;
}
.navbar.header,
.toolbar{
    display: none;
}
.signed-in .navbar.header,
.signed-in .toolbar{
    display: block;
}
.signed-in [data-page="home"] .navbar.header,
.signed-in .standard-page .navbar.header{
    background-color: transparent;
}
.standard-page{
    padding-top: 90px!important;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px!important;
}
.standard-page .content-block-title,
.list-block .list-group-title {
    color: rgba(255,255,255,0.8);
    margin: 0px;
}
.standard-page .content-block-title span {
    text-transform: initial;
    margin-left: 10px;
}
.standard-page .content-block{
    color: #fff;
}
.standard-page h1{
    text-align: center;
    margin-bottom: 25px;
}

.standard-page .content-block form .list-block ul {
    background: rgba(0,0,0,0.5);
}
.standard-page .content-block form .btn-primary {
    margin-top: 5px;
}
.standard-page .content-block form .list-block{
    margin: 18px 0;
}
.standard-page .content-block form .list-block ul .item-input{
    
}
.standard-page .content-block form .list-block ul .item-input input,
.standard-page .content-block form .list-block ul .item-input select{
    color: #fff;
}
.standard-page .content-block form .list-block ul .item-input select option,
.standard-page .content-block form .list-block ul .item-input select optgroup{
    color: #111;
}
[data-page="view-matches"] .list-block .item-content{
    padding-left: 0px;
}
.signed-in [data-page="add-team"],
.signed-in [data-page="view-teams"]{
    background: url(../img/backgrounds/locker.png) no-repeat bottom center fixed;
    background-size: cover;
}
.signed-in [data-page="view-team"]{
    background: url(../img/backgrounds/team.png) no-repeat bottom center fixed;
    background-size: cover;
}
.signed-in [data-page="view-matches"]{
    background: url(../img/backgrounds/match.png) no-repeat bottom center fixed;
    background-size: cover;
}
.signed-in [data-page="view-tournaments"],
.signed-in [data-page="view-tournament"]{
    background: url(../img/backgrounds/tournament.png) no-repeat bottom center fixed;
    background-size: cover;
}
.signed-in [data-page="view-team"]{
    
}
.signed-in [data-page="view-team"] p.Club,
.signed-in [data-page="view-tournament"] p.Club{
    background-color: #e4a500;
}
.signed-in [data-page="view-team"] p.School,
.signed-in [data-page="view-tournament"] p.School{
    background-color: #640606;
}
.signed-in [data-page="view-team"] p.Social{
    
}
.signed-in [data-page="view-team"] h1,
.signed-in [data-page="view-match"] h1,
.signed-in [data-page="view-tournament"] h1{
    margin-bottom: 0;
    margin-top: 0;
}
.signed-in [data-page="view-team"] #team-history h1,
.signed-in [data-page="view-match"] #team-history h1,
.signed-in [data-page="view-tournament"] #team-history h1{
    margin-top: 15px;
}
.signed-in [data-page="view-match"] #team-history .scorecard-detail h1,
.signed-in [data-page="view-tournament"] #team-history .scorecard-detail h1{
    margin-top: 0px;
}
.signed-in [data-page="view-tournament"] #team-history .scorecard-detail img{

}
.active-game{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0!important;
}
.active-game .scorecard-detail{
    padding: 0!important;
    border: 0px!important;
    padding-top: 100px!important;
    background: url(../img/backgrounds/score.png) no-repeat center;
    padding-bottom: 10px!important;
}
.active-game .scorecard-detail .team{
    width: 42%;
    display: inline-block;
    padding: 0 7px;
}
.active-game .scorecard-detail .vs{
    width: 8%;
    display: inline-block;
    text-align: center;
    padding-top: -3px;
    top: -30px;
    position: relative;
}
.active-game .scorecard-detail .team .scores .score{
    font-size: 33px!important;
    margin: 0!important;
    width: 100%!important;
    float: none!important;
}
.active-game .scorecard-detail .team .overs{
    width: 100%!important;
    float: inherit!important;
    padding: 0!important;
    margin-top: -8px;
}
.active-game .scorecard-detail h3{
    
}
.active-game .scorecard-detail .scores{
    
}
.active-game .scorecard-detail .scores .score{
    
}
.active-game .scorecard-detail .scores .overs{
    
}
.active-game .scorecard-detail .result{
    font-size: 12px;
    margin-top: 10px;
}
.popup-scorecard .data-table{
    margin-bottom: 30px;
}
.active-game .batsmen,
.active-game .bowlers{
    clear: both;
    margin-top: 0;
    background-color: #1f1f1f;
    padding: 0px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    margin-bottom: 5px;
    overflow: hidden;
}
.active-game .buttons{
    clear: both;
    margin-top: 6px;
    background-color: transparent;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
    margin-bottom: 5px;
}
.active-game .bowlers table{
    width: 100%;
}
.active-game .bowlers table tr.non-active-bowler{
    opacity: 0.2;
}
.active-game .bowlers table tr.active-bowler .label-cell:before{
    content: "\f0da";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    top: 0px;
    left: -13px;
    position: relative;
    margin-right: -7px;
}
.active-game .bowlers table tr.active-bowler{
    opacity: 1;
    height: 31px;
}
.active-game .bowlers table tr th{
    font-weight: 400;
    font-size: 12px;
}
.active-game .bowlers table tr td{
    
}
.active-game .bowlers .btn-primary{
    margin-top: 10px;
    margin-bottom: 1px!important;
}
.active-game .bowlers th,
.active-game .bowlers td{
    width: 10%;
    text-align: center;
}
.active-game .bowlers th:nth-child(1),
.active-game .bowlers td:nth-child(1){
    width: 30%;
    text-align: left;
}
.active-game .bowlers{
    background-color: #272727;
}
.active-game .batsmen h3,
.active-game .bowlers h3{
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
    color: #a9a9a9;
    margin-bottom: 5px;
}
.active-game .batsmen .batsman-1,
.active-game .batsmen .batsman-2{
    width: 40%;
    display: inline-block;
    text-align: center;
    min-height: 145px;
    position: relative;
    top: 10px;
}
.active-game .batsmen .batsman-1{
    float: left;
}
.active-game .batsmen .batsman-2{
    float: right;
}
.active-game .batsmen .batsman-1.no-batsmen,
.active-game .batsmen .batsman-2.no-batsmen{
    display: inline-block;
    text-align: center;
    min-height: 77px;
    padding-top: 40px;
    border: 1px solid #ccc;
    margin: 0 4px;
    opacity: 1;
    padding-bottom: 17px;
    top: -10px;
    position: relative;
    margin-bottom: 0px;
    border-radius: 74px;
}
.active-game .no-bowlers{
    width: 97%;
    display: inline-block;
    text-align: center;
    min-height: 38px;
    padding-top: 25px;
    border: 1px solid #ccc;
    margin: 0 4px;
}
.active-game .batsmen .batsman-1 p,
.active-game .batsmen .batsman-2 p{
    margin-bottom: 0;
    font-size: 12px;
}
.active-game .batsmen .batsman-1,
.active-game .batsmen .batsman-2{
    opacity: 0.5;
}
.active-game .batsmen .batsman-1.active-batsmen,
.active-game .batsmen .batsman-2.active-batsmen{
    opacity: 1;
    position: relative;
}
.active-game .batsmen .batsman-1.active-batsmen:after,
.active-game .batsmen .batsman-2.active-batsmen:after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #4cd964;
    top: 0;
    left: 20px;
    border-radius: 34px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.refresh-game-data{
    position: absolute;
    background-color: #007aff;
    border-radius: 19px;
    width: 35px;
    height: 28px;
    color: #fff;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 0;
    right: 5px;
    bottom: -9px;
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.5);
}
.refresh-game-data i{

}
.active-game .batsmen .batsman-1.active-batsmen img,
.active-game .batsmen .batsman-2.active-batsmen img{
    max-width: 78px;
}
.active-game .batsmen img{
    max-width: 71px;
    border-radius: 56px;
}
.active-game .batsmen .scores{
    
}
.active-game .batsmen .scores span{
    font-size: 19px;
    font-weight: 600;
}
.active-game .batsmen .partnership{
    width: auto;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 30px;
    min-width: 20%;
}
.active-game .batsmen .partnership p{
    margin-bottom: -5px;
}
.active-game .batsmen .partnership span{
    font-size: 23px;
    font-weight: 600;
}
.active-game .actions{
    position: relative;
    height: 76px;
    padding-top: 10px;
    text-align: center;
    clear: both;
}
.active-game .actions>div{
    width: 25%;
    margin: 0;
    height: 50px;
    padding: 0;
    float: left;
    position: relative;
    text-align: center;
}
.active-game .actions>div>div{
    width: 70px;
    height: 24px;
    text-align: center;
    position: relative;
    padding: 22px 0;
    border-radius: 46px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
}
.active-game .actions .runs{
    
}
.active-game .actions .wicket{
    
}
.active-game .actions .extra{
    
}
#team-history .content-block,
#team-history .team-history{
    height: 100%;
}
#team-history .swiper-container {
    height: 100%;
}
#team-history .swiper-slide {

}
#team-history .swiper-pagination-bullet {
    background: #e2a300;
}
#team-history .date{
    font-size: 14px;
}
#team-history .venue{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 4px;
}
#team-history .scorecard-detail{
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
#team-history .scorecard-detail p{
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 2px;
}
#team-history .scorecard-detail h3{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 158px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}
#team-history .scorecard-detail .score{
    text-align: center;
    font-family: 'Bombard';
    font-size: 42px;
    margin: 0;
    width: 50%;
    float: left;
}
#team-history .scorecard-detail .scores{
    width: 100%;
    height: 44px;
    margin-top: -9px;
}
#team-history .scorecard-detail .overs{
    width: 50%;
    float: right;
    text-align: center;
    padding: 19px 0;
}
#team-history .scorecard-detail .overs:after{

}
.popup-scorecard{
    
}
.popup-scorecard .player-body{
    padding: 0 10px;
}
.popup-scorecard .player-body h2{
    padding: 0 0px;
    margin: 0;
}
.popup-scorecard .player-body .heading{
    background-color: #2f2f2f;
    width: 100%;
    height: auto;
    overflow: auto;
    margin-bottom: 6px;
}
.popup-scorecard .player-body .team{
    text-transform: uppercase;
    font-size: 22px;
    float: left;
    width: 60%;
    margin-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popup-scorecard .player-body .innings{
    float: right;
    font-size: 10px;
    margin-right: 8px;
    margin-top: 7px;
}
.popup-scorecard .player-body .score{
    float: right;
    text-align: right;
    font-size: 23px;
    margin-top: -2px;
    margin-right: 7px;
}
.popup-scorecard .player-body{
    clear: both;
}
.popup-scorecard .player-body .data-table .batsmen th:nth-child(1),
.popup-scorecard .player-body .data-table .batsmen td:nth-child(1){
    width: 50%;
    text-align: left;
}
.popup-scorecard .player-body .data-table .batsmen th:nth-child(2),
.popup-scorecard .player-body .data-table .batsmen td:nth-child(2){
    width: 40%;
    text-align: left;
    font-size: 11px;
    padding-top: 0px;
}
.popup-scorecard .player-body .data-table .batsmen th:nth-child(3),
.popup-scorecard .player-body .data-table .batsmen td:nth-child(3){
    width: 10%;
    text-align: center;
}
.popup-scorecard .player-body .data-table .batsmen th:nth-child(4),
.popup-scorecard .player-body .data-table .batsmen td:nth-child(4){
    width: 10%;
    text-align: center;
}
.popup-scorecard .player-body .data-table .bowlers th,
.popup-scorecard .player-body .data-table .bowlers td{
    width: 6%;
    text-align: center;
}
.popup-scorecard .player-body .data-table .bowlers th:nth-child(1),
.popup-scorecard .player-body .data-table .bowlers td:nth-child(1){
    width: 30%;
    text-align: left;
}

.popup-scorecard .player-body .data-table table{
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}
.popup-scorecard .player-body .data-table thead{
    font-size: 11px;
    border-bottom: 1px solid rgb(228, 165, 0);
    color: #ccc;
}
.popup-scorecard .player-body .data-table tbody{
    color: #ccc;
}
.popup-scorecard .player-body .data-table tbody tr.in-active{
    
}
.popup-scorecard .player-body .data-table tbody tr.in-active td{
    color: #666;
    font-size: 12px;
    font-weight: inherit;
}
.popup-scorecard .player-body .data-table tbody tr.not-out,
.popup-scorecard .player-body .data-table tbody tr.extras{
    font-weight: 600;
}
.popup-scorecard .player-body .data-table tbody tr.extras{
    border-top: 1px solid #fff;
}
.popup-scorecard .player-body .data-table tbody tr.not-out,
.popup-scorecard .player-body .data-table tbody tr.extras{
    font-weight: 600;
}
.popup-scorecard .player-body .data-table tbody tr.not-out td,
.popup-scorecard .player-body .data-table tbody tr.extras td{
    padding: 4px 0;
    color: #fff;
}
.popup-scorecard .player-body .data-table tbody tr td{
    font-size: 13px;
}
.popup-scorecard .player-body h1.result{
    font-family: "Lato";
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: normal;
    text-align: center;
    padding: 5px;
}
.popup-scorecard .player-body h1.result.Complete{
    background-color: #0a5804;
    border-radius: 15px;
    padding: 5px;
}
#team-history .result{
    clear: both;
    text-align: center;
    font-weight: 600;
}

.signed-in [data-page="view-team"] .tabs-animated-wrap {

}

.signed-in [data-page="view-team"] p,
.signed-in [data-page="view-match"] p,
.signed-in [data-page="view-tournament"] p{
    text-align: center;
    margin-top: 0;
}
.signed-in [data-page="view-team"] .logo,
.signed-in [data-page="view-tournament"] .logo{
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
.signed-in [data-page="view-team"] .logo .upload,
.signed-in [data-page="view-tournament"] .logo .upload{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.signed-in [data-page="view-team"] .logo .upload i,
.signed-in [data-page="view-tournament"] .logo .upload i{
    color: rgba(0,0,0,0.2);
    font-size: 28px;
}
.signed-in [data-page="view-team"] .logo img,
.signed-in [data-page="view-tournament"] .logo img{
    border-radius: 105px;
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.signed-in [data-page="view-team"] .format,
.signed-in [data-page="view-tournament"] .format{
    margin-bottom: 0;
    margin-top: 12px;
    text-transform: uppercase;
    background-color: #252525;
    padding: 4px;
    border-radius: 0px;
    font-size: 12px;
    width: auto;
    letter-spacing: 2px;
}
#AddMatch .Team1-Heading,
#AddMatch .Team2-Heading{
    text-align: center;
    font-size: 29px;
}
#AddMatch .vs{

}
.swiper-container-horizontal>.swiper-pagination {
    bottom: 0;
}
#AddMatch .Match-Settings,
#AddMatch .vs,
#AddMatch #Team1,
#AddMatch #Team2,
#AddMatch #TournamentID{
    display: none;
}
.menu .badge {
    font-size: 12px;
    display: inline-block;
    color: #fff;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}
#AddMatch .Match-Settings .range-label{
    min-width: 30%;
}
.signed-in [data-page="view-team"] .content-block-title,
.signed-in [data-page="view-tournament"] .content-block-title{
    margin-bottom: 15px;
    overflow: inherit;
}

.signed-in [data-page="view-team"] .content-block-title .fa-pencil,
.signed-in [data-page="view-team"] .content-block-title .fa-plus,
.signed-in [data-page="view-tournament"] .content-block-title .fa-pencil,
.signed-in [data-page="view-tournament"] .content-block-title .fa-plus{
    position: relative;
    float: right;
    font-size: 13px;
    margin-top: -2px;
    margin-right: 2px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 48px;
    color: #000;
    padding: 4px 0px 0;
    width: 20px;
    height: 16px;
}

.signed-in [data-page="view-team"] .medialist,
.signed-in [data-page="view-tournament"] .medialist{
    overflow-y: scroll;
    max-height: 246px;
    padding-bottom: 0;
}

.signed-in [data-page="view-team"] .medialist ul:after,
.signed-in [data-page="view-team"] .medialist ul:before,
.signed-in [data-page="view-tournament"] .medialist ul:after,
.signed-in [data-page="view-tournament"] .medialist ul:before{
    background-color: transparent;
}

.signed-in [data-page="view-team"] .medialist .item-content,
.signed-in [data-page="view-tournament"] .medialist .item-content{
    min-height: 42px;
    background-color: rgba(0,0,0,0.1);
}

.signed-in [data-page="view-team"] .medialist .item-inner,
.signed-in [data-page="view-tournament"] .medialist .item-inner{
    padding: 0;
}

.signed-in [data-page="view-team"] .medialist .item-media,
.signed-in [data-page="view-tournament"] .medialist .item-media{
    padding: 0;
}

.signed-in [data-page="view-team"] .medialist .item-media img,
.signed-in [data-page="view-tournament"] .medialist .item-media img,
.player-body .item-media img{
    max-width: 30px;
    border-radius: 22px;
}

.signed-in [data-page="view-team"] .medialist .item-title,
.signed-in [data-page="view-tournament"] .medialist .item-title{
    margin-right: 12px;
    font-size: 14px;
}

.standard-page .medialist.list-block ul,
.standard-page .list-block ul {
    background: rgba(0,0,0,0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.add-team{
    text-align: center;
}
.standard-pages .center {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100px;
}
.standard-pages .center img {
    max-height: 100px;
    margin: -20px -3px;
}

/* Smart-Select */
[data-page^="smart-select"] .page,
[data-page="club-cricket"] .page,
[data-page="school-cricket"] .page,
[data-page="social-cricket"] .page,
.popup {
    background-color: #111!important;
}
[data-page="club-cricket"] .standard-pages .center,
[data-page="school-cricket"] .standard-pages .center,
[data-page="social-cricket"] .standard-pages .center{
    height: 44px;   
}
[data-page^="smart-select"] .toolbar,
[data-page="club-cricket"] .toolbar,
[data-page="school-cricket"] .toolbar,
[data-page="social-cricket"] .toolbar{
    display: none;
}
[data-page^="smart-select"] .header,
[data-page="club-cricket"] .header,
[data-page="school-cricket"] .header,
[data-page="social-cricket"] .header{
    height: 44px;
    padding: 0;
}
[data-page^="smart-select"] .header a,
[data-page="club-cricket"] .header a,
[data-page="school-cricket"] .header a,
[data-page="social-cricket"] .header a{
    color: #fff;
}
[data-page^="smart-select"] .navbar-inner,
[data-page^="smart-select"] .toolbar-inner,
[data-page="club-cricket"] .navbar-inner,
[data-page="school-cricket"] .navbar-inner,
[data-page="social-cricket"] .navbar-inner,
[data-page="club-cricket"] .toolbar-inner,
[data-page="school-cricket"] .toolbar-inner,
[data-page="social-cricket"] .toolbar-inner{
    padding: 0 10px;
    background-color: #111;
    color: #fff;
}
[data-page="club-cricket"] .list-block,
[data-page="school-cricket"] .list-block,
[data-page="social-cricket"] .list-block{
    margin: 44px 0;
}
[data-page^="smart-select"] .list-block{
    margin: 0px;
}
[data-page^="smart-select"] .list-block .item-media img{
    max-width: 41px;
    border-radius: 25px;
    background-color: #333;
    margin-top: 2px;
    margin-bottom: 2px;
}
[data-page^="smart-select"] .list-block .item-media{
    padding-top: 2px;
    padding-bottom: 2px;
}
[data-page^="smart-select"] .back.link,
[data-page^="smart-select"] .header .navbar-inner a,
[data-page="club-cricket"] .back.link,
[data-page="school-cricket"] .back.link,
[data-page="social-cricket"] .back.link,
[data-page="club-cricket"] .header .navbar-inner a,
[data-page="school-cricket"] .header .navbar-inner a,
[data-page="social-cricket"] .header .navbar-inner a {
    color: #fff;
}
[data-page^="smart-select"] .item-content,
[data-page^="smart-select"] .list-block li,
[data-page^="smart-select"] .list-block ul,
[data-page="club-cricket"] .list-block ul,
[data-page="school-cricket"] .list-block ul,
[data-page="social-cricket"] .list-block ul{
    background-color: transparent;
    color: #fff;
}
[data-page^="smart-select"] .searchbar{
    background-color: #000;
}
.add-team{
    color: #fff;
}
label.label-checkbox i.icon-form-checkbox {
    border: 2px solid #c7c7cc;
}

/* Smart-Select */


.navbar:after {
    height: 0px;
}
.navbar .right:first-child {
    right: 0px;
}
.header{
    background: transparent;
    height: 55px;
    padding: 20px 10px 5px;
}
.header img{
    max-height: 60px;
    margin-left: 15px;
}
.header a{
    color: #fff;
}
.panel {
    background: #111;
    width: 190px;
}
.panel .content-block {
    margin: 60px 0;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
.panel-overlay {
    background: rgba(0,0,0,0);
}
body.with-panel-right-reveal .views {
    -webkit-transform: translate3d(-190px,0,0);
    transform: translate3d(-190px,0,0);
    opacity: 0.5;
}
body.with-panel-right-reveal .panel-overlay {
    margin-left: -190px;
}
.panel a{
    color: #fff;
    font-size: 1.1em;
    display: block;
    line-height: 2em;
    padding-bottom: 10px;
}
.statusbar-overlay {
    background: #212121;
}
.emergency-support{
    background-color: #4c617b;
    width: 100%;
    height: auto;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
}
.emergency-support img{
    width: 100%;
    min-height: 60px;
    display: block;
    max-width: 110px;
    margin: 0 auto;
}
.emergency-support a{
    padding-bottom: 0;
}
.menu .close img{
    height: 1.8em;
    position: absolute;
    top: 1.6em;
    right: 1em;
    opacity: 0.6;
}
.menu .close img:hover,
.menu .close img:hover{
    opacity: 1;
}
.menu ul{
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.menu ul>li{
    color: #e7a800;
}
.menu ul>li>ul{
    border-top: solid 1px #e7a800;
    margin-bottom: 10px;
}
.menu ul>li>ul>li{
    
}
.menu ul>li>ul>li a{
    padding-bottom: 3px;
    padding-top: 3px;
}
.menu ul>li>ul>li a.sub-menu{
    padding-bottom: 0px;
    padding-top: 3px;
    color: #ababab;
    padding-left: 10px;
}
.menu ul>li hr{
    padding: 0;
    margin: 0;
    color: #222;
    border-color: #444;
}
.menu .sign-out{
    background-color: #be0909;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.banner{
    width: 100%;
    height: auto;
}
.navbar-fixed .page-content, 
.navbar-through .page-content {
    padding-top: 0px;
}
.content-block,
.list-block {
    margin: 0;
    overflow: auto;
    padding: 0 0px;
    margin-bottom: 15px;
}
.item-title img{
    width: 30px;
    border-radius: 34px;
    background-color: #333;
}
.item-title .teamnames{
    width: 221px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 4px;
}
.list-block .item-link {
    width: 100%;
}
.page {
    background: #111;
}
.home-link-wrapper{
    text-align: center;
}
.home-link-wrapper i{
    font-size: 47px;
    margin: 0 9px;
}
.home-link{
    width: 20%;
    height: auto;
    display: inline-block;
    margin: 5px 3px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.home-link:hover{
    opacity: .5;
}
.home-link img{
    width: 100%;
    margin-bottom: -4px;
}
.navbar-inner, .toolbar-inner {
    padding: 0;
}
.toolbar-inner .active{
    background-color: #171616;
    color: #fff!important;
}
.signin{
    font-family:'Lato';
    font-size: 20px!important;
    position: fixed;
    background-color: #4c617b!important;
    width: 100%!important;
    height: 100%;
    bottom: 0;
    left: 0px;
    color: #fff!important;
    text-align: center;
    border: 0!important;
    margin-bottom: 0;
    font-weight: normal!important;
}
.open-in-maps{
    display: block;
    padding: 8px 0;
    font-family: 'Lato';
    font-size: 20px!important;
    background-color: #4c617b!important;
    width: 100%!important;
    height: 29px;
    color: #fff!important;
    text-align: center;
    border: 0!important;
    margin-bottom: 0;
    font-weight: normal!important;
    padding-top: 12px;
}
.navbar a.link, .subnavbar a.link, .toolbar a.link {
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.tabbar-fixed .page-content, 
.tabbar-through .page-content, 
.toolbar-fixed .page-content, 
.toolbar-through .page-content {
    padding-bottom: 0px;
}
.user-details.sign-in .form{
    margin-bottom: 149px;
}

.user-details .content,
.register-button{
    display: none;
}
.unauthorised .user-details .content,
.unauthorised .register-button,
.signed-in [data-page="home"].page .user-details .content{
    display: block;
}

.unauthorised .user-details{
 background: url(../img/backgrounds/background.jpg) no-repeat top center fixed;
 background-size: cover;
}

.signed-in .user-details{
 background: url(../img/backgrounds/background.jpg) no-repeat top center fixed;
 background-size: cover;
}

.user-details{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    /*position: fixed;*/
    top: 0;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.login-screen, .popup {
    background: transparent;
}
.popup,
.popup .content-block{
    color: #fff!important;
}
.popup{
    padding-top: 25px;
}
.popup-usertype.popup .content-block{
    text-align: center;
    padding-top: 160px;
}
.popup-usertype.popup .content-block h1{
    color: #e2a400;
    text-align: left;
}
.popup-usertype.popup .content-block a{
    background-color: rgb(226, 163, 3);
    color: #000;
    text-transform: uppercase;
    padding: 12px 20px 12px 20px;
    width: 80%;
    display: block;
    margin: 21px auto;
    text-align: left;
    font-weight: bold;
}
.popup-usertype.popup .content-block i{
    margin-right: 17px;
}
.popup-usertype.popup{
    width: 100%;
    height: 100%;
    background: url(../img/backgrounds/modal.png) no-repeat top center fixed;
    background-color: rgba(0,0,0,0.8);
    /* position: fixed; */
    top: 0%;
    background-size: cover;
    color: #fff;
    text-align: center;
    left: 0%;
}
.popup-settings,
.popup-addplayer,
.popup-addcoach{
    width: 100%;
    height: 100%;
    /* background: url(../img/backgrounds/modal.jpg) no-repeat top center fixed; */
    background-color: #fff;
    /* position: fixed; */
    bottom: 0;
    top: auto;
    background-size: cover;
    color: #fff;
    text-align: center;
    left: 0%;
}
.popup-addplayer p,
.popup-addcoach p{
    margin-top: 0;
    margin-bottom: 0;
}
.popup-addplayer h2,
.popup-addcoach h2{
    margin-top: 0;
    margin-bottom: 0;
}
.popup .form-element input{
    font-size: 17px;
    text-align: center;
    color: #fff;
    padding: 4px 0 7px;
    width: 80%;
    margin: 20px 0px 0px;
    border-top: 0;
    background-color: rgba(0,0,0,0);
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-family: 'Lato';
    font-weight: normal;
}
.popup .warning-input {
    background-color: rgba(255,255,255,0.5)!important;
}
.popup  input::-moz-placeholder{
    color: rgba(255,255,255,0.9)!important;
    opacity: 1;
}
.popup  input:-ms-input-placeholder{
  color: rgba(255,255,255,0.9)!important;
}
.popup  input::-webkit-input-placeholder{
  color: rgba(255,255,255,0.9)!important;
}
.popup a,
.popup p,
.popup h2{
    color: #fff;
}
.popup-settings .profile-header .upload{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 53px;
    font-size: 26px;
    color: rgba(0,0,0,0.2);    
}
.popup-settings .profile-header img{
    width: 100px;
    border-radius: 100px;
}
.popup-settings .profile-header h2{
    margin-top: 0;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
    color: #fff;
}
.popup-settings .profile-body p{
    margin-top: 0;
    font-weight: 800;
    color: #fff;
}
.popup-settings .profile-header .team-select{
    color: #be0909;
    color: #fff;
}
.popup .close{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 28px;
    color: #fff;
}
.popup .swipeout{

}
.popup-overlay{
    background: rgba(0,0,0,.8);
}
.page.no-navbar.no-toolbar.no-swipeback{
    background-color: #050505;
}
.navbar, .subnavbar, .toolbar {

}
.user-details .logo{
    text-align: center;
    padding: 10px 0 0px;
}
.user-details .logo img{
    max-width: 80%;
    margin-bottom: -40px;
}
[data-page="home"] .logo img{
    max-width: 50%;
    margin-top: 40px;
}
.user-details.register .logo img,
.user-details.signin .logo img{
    max-width: 55%;
    margin-bottom: -40px;
}
.register-button{
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%!important;
    background-color: #007aff;
    margin-left: 0!important;
    z-index: 10;
}
.register-button a{
    padding: 13px 0!important;
    color: #fff;
    font-size: 14px!important;
    font-weight: normal!important;
}
.hidden{
    display: none;
}

.btn-primary.round{
    font-size: 35px!important;
    border-radius: 47px;
    width: auto!important;
    padding: 12px 12px!important;
}
.user-details.signed-in .logo,
.user-details.signed-in .form{
    display: none;
}

.user-details .form-element,
.user-details form{
   text-align: center;
}
.notification-item .item-title-row .item-after {
    color: #fff;
    margin-left: -11px;
    max-height: 28px;
}
.notifications .item-text {
    color: #fff;
    font-weight: normal;
}
.user-details .form-element input{
    font-size: 17px;
    text-align: center;
    color: #fff;
        padding: 4px 0 7px;
    width: 80%;
    margin: 4px 0px;
    border-top: 0;
    background-color: rgba(0,0,0,0);
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-family: 'Lato';
    font-weight: 100;
}
.warning-input{
    background-color: rgba(0,0,0,0.5)!important;
}
.form-element input::-moz-placeholder,
input::-moz-placeholder {
    color: rgba(255,255,255,0.9);
    opacity: 1;
}
.form-element input:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: rgba(255,255,255,0.9);
}
.form-element input::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.9);
}
.social-sharing{
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.social-sharing a{
    margin-right: 15px;
}
form button,
button{
    background-color: #212121;
    width: 100%!important;
    padding: 10px 0 13px;
    color: #fff!important;
    text-align: center;
    border: 0!important;
    font-family: 'Lato';
    font-size: 20px!important;
    font-weight: normal!important;
    margin-top: 20px;
}
.staff-list{

}
.staff-list .staff-person{
    clear: both;
    padding: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 12px;
}
.staff-list .staff-person .staff-details{
    width: 55%;
    float: left;
    padding-left: 15px;
}
.staff-list .staff-person .staff-details h1{
     margin-top: 0;
        font-size: 20px;
            padding-left: 0px;
                margin-bottom: 0;
}
.staff-list .staff-person .staff-details h3{
        margin-top: 0;
            font-size: 16px;
            margin-bottom: 0px;
}
.staff-list .staff-person .staff-details h4{
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 0px;
    
}
.staff-list .staff-person .staff-image{
    width: 35%;
    float: right;
    padding-left: 10px;
}
.staff-list .staff-person .staff-image img{
    width: 100%;
    height: auto;
}
.staff-list .staff-person .staff-text{

}
.staff-list .staff-person .staff-text p{
    
}
.staff-list .staff-person .staff-text p strong{
    font-style: italic;
    color: #b7b7b9;
}
.user-details button{
    margin: 20px 0 0;
}
#Calculate button{
    margin: 0 0 20px;
}
#Calculate .list-block .item-title.label {
    width: 35%;
    min-width: 10%;
    opacity: 0.5;
}
#Calculate #Type {
    display: none;
}
#Calculate .list-block input[type=tel]{
    padding: 0 0 0 10px;
}
.result-wrapper{
    margin: 10px 0;
    padding: 0 15px;
    overflow: auto;
}
.result-wrapper .label{
    float: left;
    width: 60%;
}
.result-wrapper .value{
    float: right;
    width: 40%
}
.toolbar.toolbar-bottom .toolbar-inner{
    padding: 0 15px;
}
.toolbar .tab-link img{
    width: 26px;
    height: 26px;
}
.tabbar-labels span.tabbar-label {
    font-size: 10px;
    text-transform: uppercase;
}
.tabbar i.icon {
    height: 30px;
    position: absolute;
    left: 40px;
}
.toolbar {
    background: #111;
    color: #fff;
}
.tabbar-labels a.link, 
.tabbar-labels a.tab-link {
    padding-bottom: 6px;
    padding-top: 6px;
}
.navbar-inner i{
    font-size: 1.3em;
}
.navbar.results {
    background: #212121;
    height: 55px;
    padding: 20px 10px 5px;
}
.left.results {
    padding-left: 15px;
}
.right.results {
    padding-right: 15px;
    font-size: 20px;
}
.center.results {
    color: #fff;
    font-size: 20px;
}
.picker-modal .toolbar-inner{
    padding: 0 8px!important;
}
.form-element .fa-eye,
.form-element .fa-eye-slash{
    cursor: pointer;
    position: relative;
    right: 0;
    margin-left: -26px;
    font-size: 23px;
}
/* Overlay */
.overlay_preloader{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 60% 0;
    color: #e6e6e6;
    z-index: 10000;
}
.overlay_preloader img{
    max-width: 30px;
}
/* Overlay */

.notification-count{
    background-color: red;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    padding: 0px;
    margin-top: 3px;
    baseline-shift: 5px;
    line-height: 1.4;
    float: right;
    margin-right: 10px;
}
.navbar-inner .notification-count{
    margin-top: 0px;
    baseline-shift: 5px;
    line-height: 1.4;
    float: right;
    margin-left: 30px;
    padding: 2px 1px 0px 1px;
}
.list-block .item-title {
    min-width: 100%;
    white-space: normal;
}
.list-block .smart-select .item-title,
.list-block .item-title{
    min-width: auto;
}
.list-block .item-message {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    min-width: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.list-block .swipeout-content{
    background-color: #111;
    color: #fff;
}
.list-block .swipeout-content.readit {
    background-color: #fff;
}
.read{
    background-color: green!important;
}
.delete{
    background-color: red!important;
}

@media screen and (max-width: 325px) {

}

/* iPhone 5*/
@media (min-width: 300px) and (max-width: 320px) {
    .home-link-wrapper{
        margin: 6px 0;
    }
}

/* iPhone 6 */
@media (min-width: 321px) and (max-width: 375px) {
    .home-link-wrapper{
        margin: 7px 0;
    }
}

/* iPhone 6 Plus*/
@media (min-width: 376px) and (max-width: 414px) {
    .home-link-wrapper{
        margin: 10px 0;
    }
}

@media screen and (max-width: 767px) {

}
